# Big Bang Additions
# Optional key/secret for IAM role when using SOPS encryption in AWS.
awsCredentials:
  awsAccessKeyId: ""
  awsSecretAccessKey: ""
  awsDefaultRegion: "us-gov-west-1"
## Your FQDN will be ${ .Values.subdomain }.${ .Values.domain }
domain: dev.bigbang.mil
istio:
  # -- Toggle BigBang istio integration
  enabled: false
  # -- Toggle BigBang istio injection
  injection: "disabled"
  # -- Default argocd peer authentication
  mtls:
    # -- STRICT = Allow only mutual TLS traffic,
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT
  # -- Sidecar configuration for hardened mode
  sidecar:
    enabled: false
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
  # -- Custom ServiceEntries for hardened mode
  serviceEntries:
    custom: []
    # - name: "allow-google"
    #   spec:
    #     exportTo:
    #       - "."
    #     hosts:
    #       - google.com
    #     location: MESH_EXTERNAL
    #     ports:
    #       - number: 443
    #         protocol: TLS
    #         name: https
  # -- Authorization policies for hardened mode
  authorizationPolicies:
    enabled: false
    # -- Generate AuthorizationPolicies from NetworkPolicy rules
    generateFromNetpol: false
    custom: []
    # - name: "allow-nothing"
    #   spec: {}
# -- Inbound routes for VirtualService generation
routes:
  inbound:
    argocd:
      enabled: true
      annotations: {}
      labels: {}
      gateways:
      - istio-gateway/public-ingressgateway 
      hosts:
      - argocd.{{ .Values.domain }}
      service: argocd-argocd-server
      containerPort: 8080
      port: 80
      selector:
        app.kubernetes.io/name: argocd-server

monitoring:
  # -- Toggle BigBang monitoring integration
  enabled: false
networkPolicies:
  # -- Toggle BigBang networkPolicies integration
  enabled: true

  ingress:
    to:
      # -- Ingress to argocd-server for metrics from prometheus
      argocd-server:8083:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: true
      # -- Ingress to argocd-repo-server for metrics from prometheus
      argocd-repo-server:8084:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: true
      # -- Ingress to argocd-application-controller for metrics from prometheus
      argocd-application-controller:8082:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: true
      # -- Ingress to redis from grafana for dashboards
      redis-bb:6379:
        from:
          k8s:
            monitoring/grafana: true
      # -- Ingress to redis-exporter for metrics from prometheus
      redis-bb:9121:
        from:
          k8s:
            monitoring-monitoring-kube-prometheus@monitoring/prometheus: true
  egress:
    from:
      # -- Egress to tempo for tracing from all pods
      "*":
        to:
          k8s:
            tempo/tempo:9411: false
      # -- Egress to kube API for application-controller (needed for reconciling resources)
      argocd-application-controller:
        to:
          definition:
            kubeAPI: true
      # -- Egress to kube API for server (needed for secrets/configmaps)
      argocd-server:
        to:
          definition:
            kubeAPI: true
      # -- Egress to kube API for applicationset-controller
      argocd-applicationset-controller:
        to:
          definition:
            kubeAPI: true
      # -- Egress to kube API for dex-server
      argocd-dex-server:
        to:
          definition:
            kubeAPI: true
      # -- Egress to kube API for notifications-controller
      argocd-notifications-controller:
        to:
          definition:
            kubeAPI: true
      # -- Egress to kube API for upgrade job (needed for labeling CRDs)
      argocd-upgrade-job:
        to:
          definition:
            kubeAPI: true
      # -- Egress to external git repos for repo-server
      argocd-repo-server:
        to:
          cidr:
            0.0.0.0/0:443: true
  additionalPolicies: []
upgradeJob:
  enabled: true
  image:
    repository: registry1.dso.mil/ironbank/big-bang/base
    tag: 2.1.0
    imagePullPolicy: IfNotPresent
# Big Bang Continuous Integration Testing Only
bbtests:
  enabled: false
  cypress:
    artifacts: true
    envs:
      cypress_url: "http://argocd-server"
      cypress_user: "admin"
      cypress_password: "Password123"
      cypress_timeout: "120000"
    resources:
      requests:
        cpu: 4
        memory: 4Gi
      limits:
        cpu: 4
        memory: 8Gi
  scripts:
    image: "registry1.dso.mil/ironbank/big-bang/devops-tester:1.1"
    envs:
      ARGOCD_SERVER: "http://argocd-server"
      ARGOCD_USER: "admin"
      ARGOCD_PASSWORD: "Password123"

# -- BigBang HA Redis Passthrough
redis-bb:
  enabled: true
  cleanUpgrade:
    enabled: true
  networkPolicies:
    enabled: true

  # pass throughs to BigBang's redis
  # https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/redis/-/blob/main/chart/values.yaml
  upstream:
    auth:
      enabled: false
    istio:
      redis:
        enabled: false
    image:
      pullSecrets:
      - private-registry
    metrics:
      enabled: true
      image:
        tag: v1.81.0
      # --  Custom labels for the haproxy pod. This is relevant for Argo CD CLI.
      labels:
        app.kubernetes.io/name: argocd-redis-ha-haproxy
      metrics:
      # -- HAProxy enable prometheus metric scraping
      containerSecurityContext:
        enabled: true
        runAsUser: 1001
        runAsGroup: 1001
    master:
      resources:
        requests:
          memory: 256Mi
          cpu: 100m
        limits:
          memory: 256Mi
          cpu: 100m
      containerSecurityContext:
        enabled: true
        runAsUser: 1001
        runAsGroup: 1001
        runAsNonRoot: true
        capabilities:
          drop:
          - ALL
    replica:
      resources:
        requests:
          memory: 256Mi
          cpu: 100m
        limits:
          memory: 256Mi
          cpu: 100m
      containerSecurityContext:
        enabled: true
        runAsUser: 1001
        runAsGroup: 1001
        runAsNonRoot: true
        capabilities:
          drop:
          - ALL
      readinessProbe:
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 30
        successThreshold: 1
        failureThreshold: 3
        tcpSocket:
          port: 6379
    commonConfiguration: |-
      maxmemory 200mb
      save ""

## Argo CD configuration
## Ref: https://github.com/argoproj/argo-cd

## Passthrough pattern
global:
  image:
    repository: registry1.dso.mil/ironbank/big-bang/argocd
    tag: v3.3.0
    imagePullPolicy: IfNotPresent
  imagePullSecrets:
    - name: private-registry

argocd-apps:
  applications: {}
  projects: {}
  applicationsets: {}
  itemTemplates: []
  exports: {}

# -- We are exposing only the keys that BigBang overrides from the upstream chart. Please refer to the [upstream chart](https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml) for other value configs.
upstream:
  configs:
    params:
      server.insecure: true

  controller:
    containerSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
    resources:
      limits:
        cpu: 500m
        memory: 3Gi
      requests:
        cpu: 500m
        memory: 3Gi
    readinessProbe:
      timeoutSeconds: 30

  ## Dex
  dex:
    image:
      repository: registry1.dso.mil/ironbank/opensource/dexidp/dex
      tag: v2.44.0

    resources:
      limits:
        cpu: 20m
        memory: 256Mi
      requests:
        cpu: 10m
        memory: 128Mi

    containerSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000

    livenessProbe:
      timeoutSeconds: 30
    readinessProbe:
      timeoutSeconds: 30

  ## Redis
  redis:
    enabled: false

  # External Redis parameters
  externalRedis:
    host: "redis-bb-headless.argocd.svc.cluster.local"

  redisSecretInit:
    enabled: false

  server:
    resources:
      limits:
        cpu: 20m
        memory: 128Mi
      requests:
        cpu: 20m
        memory: 128Mi
    readinessProbe:
      failureThreshold: 5
      timeoutSeconds: 30
    livenessProbe:
      failureThreshold: 5
      timeoutSeconds: 30
    containerSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000

  repoServer:
    resources:
      limits:
        cpu: 100m
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 1Gi
    readinessProbe:
      failureThreshold: 5
      timeoutSeconds: 30
    livenessProbe:
      failureThreshold: 5
      timeoutSeconds: 30
    containerSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000

  applicationSet:
    enabled: true
    readinessProbe:
      failureThreshold: 5
      timeoutSeconds: 30
    livenessProbe:
      failureThreshold: 5
      timeoutSeconds: 30
    containerSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000

  notifications:
    containerSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
  openshift:
    # -- enables using arbitrary uid for argo repo server
    enabled: false
      
