# yaml-language-server: $schema=https://raw.githubusercontent.com/helm-unittest/helm-unittest/main/schema/helm-testsuite.json
suite: test routes
templates:
  - templates/bigbang/routes.yaml
capabilities:
  apiVersions:
    - networking.istio.io/v1
tests:
  - it: should create VirtualService when istio is enabled
    set:
      istio.enabled: true
      domain: example.com
      routes.inbound.argocd.enabled: true
    documentSelector:
      path: kind
      value: VirtualService
    asserts:
      - isKind:
          of: VirtualService
      - equal:
          path: metadata.name
          value: argocd
      - contains:
          path: spec.hosts
          content: argocd.example.com

  - it: should create network policy for istio gateway ingress
    set:
      istio.enabled: true
      domain: example.com
      networkPolicies.enabled: true
      routes.inbound.argocd.enabled: true
    documentSelector:
      path: metadata.name
      value: allow-ingress-to-argocd-8080-from-ns-istio-gateway-pod-public-ingressgateway
    asserts:
      - isKind:
          of: NetworkPolicy
      - equal:
          path: spec.ingress[0].from
          value:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: istio-gateway
              podSelector:
                matchLabels:
                  app.kubernetes.io/name: public-ingressgateway
                  istio: ingressgateway
